body{
	margin: 0px;
}
div {
    display: block;
}
#dcbg {
    position: fixed;
    float: none;
}
#logo {
    border: 0px solid red;
    width: 1920px;
    height: 150px;
    position: fixed;
    background: url(../images/logo_bg.png);
    z-index: 999;
}
#ydlogo {
    width: 300px;
    height: 150px;
    position: relative;
    left: 350px;
    cursor: pointer;
}
#ydlogodh {
    position: relative;
    left: 360px;
}
#zzsc {
    text-align: center;
    width: 300px;
    height: 100px;
    position: absolute;
    float: right;
    top: 50px;
    left: 1300px;
}
#logo_a {
    position: relative;
    left: 700px;
    bottom: 37px;
    text-decoration: none;
}
#ydlogodhimg {
    display: inline-block;
    width: 140px;
    height: 61px;
    background-image: url(../images/logodh.png);
    margin-left: 20px;
    position: relative;
    bottom: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 61px;
    font-size: 25px;
    font-family: "华文新魏";
}
#logo_a span {
    color: #fff;
    font-size: 20px;
    position: relative;
    bottom: 4px;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}

#d1 {	
	width: 480px;
	height: 580px;
	position: fixed;	
	margin-top: 15px;
	margin-left:720px;
}

#d2 {
	border-radius: 10px;
	text-align: center;
	width: 480px;
	height: 380px;	
	position: fixed;	
	margin-top: 100px;
	background:#fff;
	opacity:0.6;
	z-index:10;
}
#pspan {
	font-size: 30px;
}

#main{
	border: 0px red solid;
	width: 1900px;
	height: 810px;
	position: relative;
	top:150px;
}
#main_mid {
	border: 0px solid red;
	width: 860px;
	height: 800px;
	position: relative;
	margin-left: 450px;
	background-color: rgba(200,200,200,0.6);
}
#main_ul {
	width:860px;
	height: 650px;
	overflow-y: scroll;
}
ul {
	list-style-type:none;
	font-size: 20px;
}

#li_head {
	font-size: 30px;
}
#li_body {
	display: block;
	position: relative;
	left: 100px;
	width: 500px;
}

#ul_btn {
	border: 0px solid red;
	width:860px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	
}

#ul_a {
	display:inline-block;
	width: 215px;
	height: 61px;
	margin-left: 20px;
	position: relative;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	line-height: 61px;
	font-size: 25px;
	color: black;
	font-family: "华文新魏";
	background-image: url("../images/buy_a.png");	
}
#exit {
	position: relative;
    left: 720px;
    bottom: 41px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

<!--��¼�����ʽ>

#login{
	margin:100px 0px 50px 785px;
	border:3px solid #F5F5F5;
	background-color:#FFFFFF;
	width:308px;
	height:420px;
}

#p1{
	font-size:19px;
	color:	#696969;
	text-align:center;
}

input{
	position: relative;
	left: 100px;
	top: 50px;
    border-radius: 6px;
    border:1px solid	#808080;
	width:275px;
	height:30px;
	margin:10px 10px;
}
#user {
	position: relative;
	left: 100px;
	top: 50px;
    border-radius: 6px;
    border:1px solid	#808080;
	width:275px;
	height:30px;
	margin:10px 10px;
	color: black;
}

#sub{
	background-color: #A9A9A9;
	cursor: pointer;
	text-align: center;
	color:#FFFFFF;
	border:1px solid #808080;
	font-size:19px;
}
#sub2{
	background-color: #A9A9A9;
	cursor: pointer;
	text-align: center;
	color:#FFFFFF;
	border:1px solid #808080;
	font-size:19px;
}
#p2{
	font-size:11px;
	color:	#696969;
	text-align:center;
}